<h1><%= title %></h1>
<form method="post" action="/users/auth/login" enctype="multipart/form-data">
  <% if (loginFailed) { %>
    <div class="top-banner__login-failed">
      Login has failed!
    </div>
  <% } %>
  <input type="text" name="alias" placeholder="Username (alias)" autocomplete="off" />
  <input type="password" name="password" placeholder="Password" autocomplete="off" />
  <button type="submit">Log in</button>
</form>
<% if (typeof errors !== 'undefined' && errors !== null) { %>
  <% errors.forEach((error) => { %>
    <%= error.title %>:<%= error.detail %>
  <% }); %>
<% } %>
<br/>
<a href="/users/auth">Check if already logged in</a>
<a href="/">Back to Single Page Application</a>