<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Signup</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <form id="signup-form" method="post" action="/users/api">
      <h1>Sign Up</h1>
      <input type="text" name="alias" value="" placeholder="Alias" /><br/>
      <input type="password" name="password" value="" placeholder="Password" />
      <hr />
      <input type="text" name="firstName" value="" placeholder="First name" />
      <input type="text" name="lastName" value="" placeholder="Last name" />
      <br/>
      <input type="text" name="email" value="" placeholder="Email" />
      <hr />
      <button id="submit-btn" type="submit">Submit</button>
      <a href="/users/auth">Check if already logged in</a>
    </form>
  </body>
  <script src="js/signup.js"></script>
</html>